body {
    color: #333;
}

/* ========== HEADER ========== */
/* ========== END HEADER ========== */

/* ========== FOOTER ========== */
.footer {
    margin-top: 95px;
    padding: 95px 0;
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px #f0f0f0;
}

.footer .logo {
    margin: 0 auto;
    display: inherit;
}

.footer .copyright {
    font-size: 13px;
    text-align: center;
    white-space: pre-wrap;
    color: #bbb;
    font-weight: 400;
    font-family: Montserrat;
    padding: 17px;
}

/* ========== END FOOTER ========== */
