body {
    color: #333;
}

/* ========== HEADER ========== */
.header {
    padding: 50px 150px 25px 150px;
    position: relative;
    width: 100%;
    z-index: 1099;
    opacity: 1;
}

.header img {
    cursor: pointer;
}

.header .img_gold {
    display: block;
    margin: 0 auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    padding: 25px 150px 25px 150px;
}

.sticky + .main {
    padding-top: 200px;
}
/* ========== END HEADER ========== */

/* ========== FOOTER ========== */
.footer {
    margin-top: 95px;
    padding: 95px 0;
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px #f0f0f0;
}

.footer .logo {
    margin: 0 auto;
    display: inherit;
}

.footer .copyright {
    font-size: 13px;
    text-align: center;
    white-space: pre-wrap;
    color: #bbb;
    font-weight: 400;
    font-family: Montserrat;
    padding: 17px;
}

/* ========== END FOOTER ========== */
